{
    "semi": false,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "endOfLine": "lf",
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "embeddedLanguageFormatting": "auto",
    "vueAttributesOrder": "max-3-per-line",
    "vueAttributesPerLine": {
        "maxAttributes": 3,
        "singleline": "preserve",
        "multiline": "always"
    }
}