@import 'tailwindcss';

body {
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(44, 93, 76, 0.15) 51%,
      rgba(6, 64, 43, 0.22) 100%);
}

@theme {
  --color-black: #1b1c1b;
  --color-white: #fefefe;
  --color-green: #06402b;
  --color-blue: #3b82f6;
}

/* More specific overrides for Naive UI theme classes and root to ensure it takes effect */
:root,
.n-theme,
.n-theme--light,
.n-theme--dark {
  --n-color-segment: var(--color-primaryLight) !important;
}