@import "tailwindcss";

@theme {
    --color-black: #1b1c1b;
    --color-white: #fefefe;
    --color-primary: #06402b;
    --color-primaryDark: #687c71;
    --color-primaryLight: #9bb0a5;
    --color-blueDark: #003d5b;
    --color-blueLight: #336c8d;
    --color-grayDark: #687c71;
    --color-grayLight: #fdfdfd;
}